<!-- Modal Add Book -->
<div
  class="modal fade"
  id="addBookModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LaPhare | ADD BOOK</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center">Fill in the following to add a book:</h5>
        <br />
        <form
          action="/dashboard/add-book"
          method="post"
          enctype="multipart/form-data"
        >
          {%csrf_token%}
          <div class="form-outline">
            <label>Book_Image:</label>
            <input
              type="file"
              accept="image/*"
              capture="environment"
              name="book_image"
              class="form-control"
            />
          </div>
          <br />
          <div class="form-outline">
            <input
              type="text"
              placeholder="Book_Id...."
              name="book_id"
              class="form-control"
              required
            />
          </div>
          <br />
          <div class="form-outline">
            <input
              type="text"
              placeholder="Book_Name...."
              name="book_name"
              class="form-control"
              required
            />
          </div>
          <br />
          <div class="form-outline">
            <input
              type="text"
              placeholder="Book_Author...."
              name="book_author"
              class="form-control"
            />
            <br />
          </div>
          <div class="form-outline">
            <input
              type="text"
              placeholder="Book_Language...."
              name="book_language"
              class="form-control"
            />
            <br />
          </div>
          <div class="form-outline">
            <select name="book_category" id="" class="form-control">
              <option value="">Select Book Category</option>
              {% for category in categories %}
              <option value="{{category.id}}">{{category}}</option>
              {% endfor %}
            </select>
          </div>
          <br />
          <div class="form-outline">
            <input
              type="text"
              placeholder="Publication Year...."
              name="book_publication_year"
              class="form-control"
            />
          </div>
          <br />
          <div class="form-outline">
            <input
              type="text"
              placeholder="Book_price..."
              name="book_price"
              class="form-control"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-warning">Add Book</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Lend Book -->
<div
  class="modal fade"
  id="lendBookModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LaPhare</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center">Fill in the following to lend a book:</h5>
        <br />
        <form action="/dashboard/lend" method="post">
          <div class="form-outline">
            <label>Reader:</label>
            <input
              type="text"
              placeholder="Reader Id...."
              class="form-control"
            />
          </div>
          <div class="form-outline">
            <label>Book:</label>
            <input type="text" placeholder="Book Id...." class="form-control" />
          </div>
          <div class="form-outline">
            <label>Return Date:</label>
            <input type="date" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Lend</button>
      </div>
    </div>
  </div>
</div>
